:root {
    --space-3xs: clamp(.31rem, calc(.26rem + .13vw), .38rem);
    --space-2xs: clamp(.56rem, calc(.41rem + .38vw), .75rem);
    --space-xs: clamp(.88rem, calc(.68rem + .5vw), 1.13rem);
    --space-s: clamp(1.13rem, calc(.83rem + .75vw), 1.5rem);
    --space-m: clamp(1.69rem, calc(1.24rem + 1.13vw), 2.25rem);
    --space-l: clamp(2.25rem, calc(1.65rem + 1.5vw), 3rem);
    --space-xl: clamp(3.38rem, calc(2.48rem + 2.25vw), 4.5rem);
    --space-2xl: clamp(4.5rem, calc(3.3rem + 3vw), 6rem);
    --space-3xl: clamp(6.75rem, calc(4.95rem + 4.5vw), 9rem);
    --space-3xs-2xs: clamp(.31rem, calc(-.04rem + .88vw), .75rem);
    --space-2xs-xs: clamp(.56rem, calc(.11rem + 1.13vw), 1.13rem);
    --space-xs-s: clamp(.88rem, calc(.38rem + 1.25vw), 1.5rem);
    --space-s-m: clamp(1.13rem, calc(.23rem + 2.25vw), 2.25rem);
    --space-m-l: clamp(1.69rem, calc(.64rem + 2.63vw), 3rem);
    --space-l-xl: clamp(2.25rem, calc(.45rem + 4.5vw), 4.5rem);
    --space-xl-2xl: clamp(3.38rem, calc(1.28rem + 5.25vw), 6rem);
    --space-2xl-3xl: clamp(4.5rem, calc(.9rem + 9vw), 9rem);
    --space-s-l: clamp(1.13rem, calc(-.37rem + 3.75vw), 3rem);
    --size-max-width: 75ch;
    --container: 70rem;
    --radius-default: .375rem;
    --radius-small: .1875rem;
    --radius-medium: var(--radius-default);
    --radius-large: .5625rem;
    --font-step--2: clamp(.78rem, calc(.73rem + .13vw), .84rem);
    --font-step--1: clamp(.94rem, calc(.79rem + .38vw), 1.13rem);
    --font-step-0: clamp(1.13rem, calc(.83rem + .75vw), 1.5rem);
    --font-step-1: clamp(1.35rem, calc(.83rem + 1.3vw), 2rem);
    --font-step-2: clamp(1.62rem, calc(.78rem + 2.09vw), 2.67rem);
    --font-step-3: clamp(1.94rem, calc(.66rem + 3.22vw), 3.55rem);
    --font-step-4: clamp(2.33rem, calc(.41rem + 4.81vw), 4.74rem);
    --font-step-5: clamp(2.8rem, calc(-.01rem + 7.03vw), 6.31rem);
    --font-size-default: var(--font-step-0);
    --line-height-default: 1.5;
    --font-family-sans-serif: "Poppins", sans-serif;
    --color-brand-hue: 195;
    --color-brand-saturation: 56%;
    --color-brand-lightness: 51%;
    --color-brand: hsl(var(--color-brand-hue)var(--color-brand-saturation)var(--color-brand-lightness));
    --color-primary: var(--color-brand);
    --color-secondary: hsl(var(--color-brand-hue)var(--color-brand-saturation)35%);
    --color-social-media-facebook: #3b5897;
    --color-social-media-twitter: #00aceb;
    --color-social-media-linkedin: #0074b3;
    --color-social-media-youtube: #cc1e1e;
    --color-social-media-instagram: #e43f5d;
    --color-social-media-github: #333;
    --color-light-gray: #d9d9d9;
    --color-light-gray-border: #3b4359;
    --color-gray: #666;
    --color-pico-void: #212b45;
    --color-radiant: #eebf58;
    --color-white: #fff;
    --color-text: var(--color-social-media-github);
    --transition-duration-default: 305ms;
    --transition-duration-complex: 385ms;
    --transition-duration-entrance: 235ms;
    --transition-duration-exit: 205ms;
    --transition-duration-fast: 150ms;
    --transition-function-ease-in-expo: cubic-bezier(.95, .05, .795, .035);
    --transition-function-ease-out-expo: cubic-bezier(.19, 1, .22, 1);
    --transition-function-ease-in-back: cubic-bezier(.6, -.28, .735, .045);
    --transition-function-ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
    --transition-function-ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
    --transition-function-ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
    --transition-function-elastic: cubic-bezier(.175, .885, .41, 1.46);
    --z-index-above: 500;
    --z-index-modal: 400;
    --z-index-overlay: 300;
    --z-index-dropdown: 200;
    --z-index-default: 1;
    --z-index-below: -1
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: #0000
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: .0625rem dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    max-width: 100%;
    white-space: normal;
    padding: 0;
    display: table
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -.125rem
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template,
[hidden] {
    display: none
}

html {
    box-sizing: border-box
}

*,
:before,
:after {
    box-sizing: inherit
}

img,
iframe,
object,
embed,
video {
    max-width: 100%
}

img[width][height],
iframe[width][height],
object[width][height],
embed[width][height],
video[width][height] {
    height: auto
}

img[src$=\.svg] {
    height: auto;
    max-width: none;
    width: 100%
}

:root {
    --outline-size: max(.125rem, .08em);
    --outline-style: solid;
    --outline-color: var(--color-secondary);
    accent-color: var(--color-secondary)
}

:focus {
    outline: var(--outline-size)var(--outline-style)var(--outline-color);
    outline-offset: var(--outline-offset, var(--outline-size))
}

:focus-visible {
    outline: var(--outline-size)var(--outline-style)var(--outline-color);
    outline-offset: var(--outline-offset, var(--outline-size))
}

:focus:not(:focus-visible) {
    box-shadow: none;
    outline: 0
}

mark:before,
mark:after {
    clip: rect(.0625rem, .0625rem, .0625rem, .0625rem);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    content: " [início de texto destacado] ";
    height: .0625rem;
    white-space: nowrap;
    width: .0625rem;
    position: absolute;
    overflow: hidden
}

mark:after {
    content: " [fim de texto destacado] "
}

s:before,
s:after {
    clip: rect(.0625rem, .0625rem, .0625rem, .0625rem);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: .0625rem;
    white-space: nowrap;
    width: .0625rem;
    position: absolute;
    overflow: hidden
}

s:before {
    content: " [início de texto rasurado] "
}

s:after {
    content: " [fim de texto rasurado] "
}

@media (prefers-reduced-motion:reduce) {

    body *,
    body :before,
    body :after {
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 1ms !important;
        transition-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        animation-delay: -1ms !important
    }
}

@media (prefers-color-scheme:dark) {
    video {
        filter: brightness(.8)saturate(1.25)
    }
}

body {
    color: var(--color-text);
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default)
}

p,
li,
h1,
h2,
h3,
h4 {
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    margin-top: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Playfair Display, serif
}

h1 {
    font-size: var(--font-step-5)
}

h2 {
    font-size: var(--font-step-4)
}

h3 {
    font-size: var(--font-step-3)
}

h4 {
    font-size: var(--font-step-2)
}

::marker {
    color: var(--color-secondary)
}

html {
    caret-color: var(--color-secondary)
}

label {
    cursor: pointer
}

::placeholder {
    color: var(--color-secondary)
}

::-webkit-calendar-picker-indicator {
    color: var(--color-brand)
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    color: var(--color-brand)
}

sup,
sub {
    font-size: 50%
}

.l-header {
    background-color: var(--color-pico-void);
    width: 100%;
    z-index: 102;
    position: relative
}

.l-header__topbar {
    border-bottom: solid .0625rem var(--color-light-gray-border);
    height: 3.75rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-header__topbar {
        display: none
    }
}

.l-header .topbar-inner {
    height: 100%;
    max-width: var(--container);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    display: flex
}

.l-header .topbar-email {
    font-size: .8125rem
}

.l-header .topbar-email-link {
    color: var(--color-white);
    align-items: center;
    gap: .625rem;
    text-decoration: none;
    display: flex
}

.l-header .topbar-email-link img {
    width: 1.375rem
}

.l-header .topbar-appointment {
    font-size: .8125rem
}

.l-header .topbar-appointment-link {
    border: .0625rem solid var(--color-white);
    color: var(--color-white);
    height: 2.5rem;
    transition: var(--transition-duration-default);
    width: 10.625rem;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-decoration: none;
    display: flex
}

.l-header .topbar-appointment-link:hover {
    background-color: var(--color-white);
    color: var(--color-pico-void)
}

.l-header__navbar {
    height: 7.5rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-header__navbar {
        height: 100%;
        width: 100%
    }
}

.l-header .navbar-inner {
    height: 100%;
    max-width: var(--container);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .l-header .navbar-inner {
        height: 3.75rem;
        max-width: var(--container);
        padding: 3.75rem 1.875rem
    }
}

.l-header .navbar-inner .navbar-inner-logo {
    margin: 0;
    padding: 0;
    line-height: 0;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .l-header .navbar-inner .navbar-inner-logo {
        width: 9.375rem
    }
}

@media (min-width:280px) and (max-width:560px) {
    .l-header .navbar-inner-nav {
        display: none
    }
}

.l-header .navbar-inner-nav-mobile ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.l-header .btn-menu {
    display: none
}

@media (max-width:700px) {
    .l-header .menu-mobile {
        color: var(--color-white);
        height: 0;
        text-align: center;
        transition: var(--transition-duration-default);
        visibility: hidden;
        width: 100%;
        z-index: 999999;
        background-color: #151c2f;
        display: block;
        position: absolute;
        top: 7.5rem;
        left: 0;
        overflow-y: hidden
    }

    .l-header .menu-mobile a {
        color: var(--color-white);
        border-bottom: .0625rem solid #eebf584d;
        justify-content: center;
        align-items: center;
        padding: 1.875rem 0;
        text-decoration: none;
        display: flex
    }

    .l-header .btn-menu {
        color: var(--color-white);
        cursor: pointer;
        background: 0 0;
        border: 0;
        align-items: center;
        gap: .5rem;
        padding: 1rem 0;
        display: flex
    }

    .l-header .navbar-inner-nav-mobile.active .menu-mobile {
        height: calc(100vh - 7.5rem);
        visibility: visible;
        overflow-y: auto
    }

    .l-header .navbar-inner-nav-mobile .hamburger {
        width: 1.25rem;
        border-top: .125rem solid
    }

    .l-header .hamburger:before,
    .l-header .hamburger:after {
        content: " ";
        height: .125rem;
        transition: var(--transition-duration-default);
        width: 1.25rem;
        background: currentColor;
        margin-top: .3125rem;
        display: block;
        position: relative
    }
}

@media (min-width:1200px) {
    .l-header .navbar-inner-nav-mobile {
        display: none
    }
}

@media (min-width:1800px) {
    .l-header .navbar-inner-nav-mobile {
        display: none
    }
}

.l-header .navbar-inner-nav a {
    color: var(--color-white);
    text-transform: uppercase;
    transition: var(--transition-duration-default);
    padding: 0 1.25rem;
    font-size: .875rem;
    line-height: 7.5rem;
    text-decoration: none;
    display: inline-block;
    position: relative
}

.l-header .navbar-inner-nav a.active {
    color: var(--color-radiant);
    font-weight: 600
}

.l-header .navbar-inner-nav a.active:after {
    background-color: var(--color-radiant);
    content: "";
    height: .3125rem;
    width: 100%;
    border-radius: .3125rem .3125rem 0 0;
    position: absolute;
    bottom: 0;
    left: 0
}

.l-header .navbar-inner-nav a:hover {
    color: var(--color-radiant)
}

.l-header .navbar-inner-social {
    justify-content: space-between;
    gap: 1.5rem;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .l-header .navbar-inner-social {
        display: none
    }
}

.l-header .navbar-inner-social .navbar-inner-social-icon {
    background-color: var(--color-radiant);
    height: 2.5rem;
    transition: var(--transition-duration-default);
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex
}

.l-header .navbar-inner-social-icon img,
.l-header svg {
    filter: invert(14%)sepia(5%)saturate(6344%)hue-rotate(187deg)brightness(87%)contrast(89%);
    height: 1.375rem;
    width: 1.375rem
}

.l-header .navbar-inner-social-icon:hover {
    filter: brightness(.8)saturate(1.25)
}

@media (min-width:280px) and (max-width:560px) {
    .l-header {
        height: 100%
    }
}

.l-main {
    z-index: 101;
    position: relative
}

.swiper {
    --swiper-navigation-color: var(--color-radiant);
    --swiper-pagination-color: var(--color-radiant);
    height: 37.5rem;
    width: 100%;
    position: relative
}

@media (min-width:280px) and (max-width:560px) {
    .swiper {
        height: 100%
    }
}

.swiper-wrapper h2 {
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: none
}

@media (min-width:280px) and (max-width:560px) {
    .swiper-slide {
        background-position: 50%;
        background-size: cover
    }
}

.swiper-slide .swiper-slide-inner {
    height: 100%;
    max-width: var(--container);
    align-items: center;
    margin: 0 auto;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .swiper-slide .swiper-slide-inner {
        justify-content: center;
        align-items: center;
        padding: 1.875rem 0
    }
}

.swiper-slide .swiper-slide-inner h3 {
    color: var(--color-white);
    margin: 0 0 1.875rem;
    padding: 0;
    font-size: 4.375rem;
    line-height: 5.625rem
}

@media (min-width:280px) and (max-width:560px) {
    .swiper-slide .swiper-slide-inner h3 {
        text-align: center;
        margin: 0 0 1.25rem auto;
        padding: 0;
        font-size: 30px;
        line-height: 2.5rem
    }
}

.swiper-slide .swiper-slide-inner a {
    background-color: var(--color-light-gray);
    color: var(--color-pico-void);
    height: 3.75rem;
    transition: var(--transition-duration-default);
    width: 16.5625rem;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .swiper-slide .swiper-slide-inner a {
        height: 2.5rem;
        width: 14.0625rem
    }
}

.swiper-slide .swiper-slide-inner a:hover {
    background-color: var(--color-radiant)
}

.l-main__services {
    background-color: var(--color-light-gray);
    width: 100%;
    padding: 6.25rem 0
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__services {
        padding: 3.125rem 0
    }
}

.l-main__inner {
    max-width: var(--container);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__inner {
        flex-direction: column;
        padding: 0 1rem;
        display: flex
    }
}

.l-main__title span {
    color: var(--color-gray);
    font-size: 1rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__title span {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex
    }
}

.l-main__title h2 {
    color: var(--pico-void);
    font-size: 3.75rem;
    position: relative
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__title h2 {
        text-align: center;
        font-size: 1.5rem
    }
}

.l-main__title h2:after {
    border-bottom: .3125rem solid var(--color-radiant);
    content: "";
    width: 4.6875rem;
    margin-top: 1.25rem;
    display: block
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__title h2:after {
        margin: 1rem auto
    }
}

.l-main__title a {
    background-color: var(--color-radiant);
    color: var(--color-pico-void);
    height: 3.75rem;
    transition: var(--transition-duration-default);
    width: 16.5625rem;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__title a {
        height: 2.5rem;
        width: 14.0625rem;
        margin: 1.875rem auto
    }
}

.l-main__title a:hover {
    background-color: var(--color-pico-void);
    color: var(--color-white)
}

.l-main__items-wrapper {
    width: 100%;
    flex-direction: column;
    display: flex
}

.l-main__items {
    grid-template-columns: 16.5625rem 16.5625rem;
    gap: 1.25rem;
    display: grid
}

.l-main__items-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
    margin-top: 1.25rem;
    display: grid
}

@media (min-width:280px) and (max-width:560px) {

    .l-main__items,
    .l-main__items-3 {
        width: 100%;
        flex-direction: column;
        display: flex
    }
}

.l-main__items .item {
    border: .3125rem solid var(--color-radiant);
    color: var(--color-pico-void);
    height: 14.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex
}

.l-main__items .item h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 900
}

.l-main__items-3 .item {
    border: .3125rem solid var(--color-radiant);
    color: var(--color-pico-void);
    height: 10.9375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex
}

.l-main__items-3 .item h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 900
}

.l-main__support {
    grid-template-columns: 1fr 1fr;
    display: grid
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__support {
        flex-direction: column;
        display: flex
    }
}

.l-main__faq {
    height: 42.5rem;
    background-position: 50%;
    background-size: cover;
    position: relative
}

.l-main__faq .pattern {
    height: 100%;
    width: 100%;
    background-color: #000000e6;
    position: absolute
}

.l-main__faq .inner {
    height: 100%;
    max-width: 35rem;
    width: 100%;
    padding: 3.125rem 0;
    position: absolute;
    right: 0
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__faq .inner {
        height: 100%;
        max-width: 100%;
        width: 100%;
        padding: 3.125rem 0;
        position: relative
    }
}

.l-main__faq .inner h2 {
    color: var(--color-white);
    font-size: 2.5rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__faq .inner h2 {
        text-align: center;
        font-size: 1.875rem
    }
}

.l-main__faq .faq-section {
    width: 100%;
    padding: 0 1.625rem 0 0
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__faq .faq-section {
        width: 100%;
        padding: 0 1rem
    }
}

.l-main__faq .faq-title {
    border: .0625rem solid var(--color-white);
    cursor: pointer;
    height: 3.75rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875rem;
    display: flex
}

.l-main__faq .faq-title h3 {
    color: var(--color-white);
    margin: 0;
    padding: 0 1rem;
    font-family: Poppins, sans-serif;
    font-size: 1rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__faq .faq-title h3 {
        padding: 0 .875rem;
        font-size: .875rem
    }
}

.l-main__faq .faq-title svg,
.l-main img {
    filter: invert(59%)sepia(86%)saturate(350%)hue-rotate(2deg)brightness(95%)contrast(88%);
    transition: var(--transition-duration-default);
    width: .875rem;
    margin-right: 1rem
}

@media (min-width:280px) and (max-width:560px) {

    .l-main__faq .faq-title svg,
    .l-main img {
        height: .75rem;
        width: .75rem
    }
}

.l-main__faq p {
    border: .0625rem solid var(--color-white);
    color: var(--color-light-gray);
    width: 100%;
    border-top: 0;
    margin-top: -1.875rem;
    padding: 1.25rem;
    font-size: .875rem
}

.l-main__faq .section-show p {
    display: block
}

.l-main__faq .section-hide p {
    display: none
}

.l-main__contact {
    height: 100%;
    width: 100%
}

.l-main__contact .inner {
    height: 100%;
    max-width: 35rem;
    width: 100%;
    padding: 3.125rem 0 3.125rem 1.5625rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__contact .inner {
        height: 100%;
        max-width: 100%;
        width: 100%;
        padding: 3.125rem 0
    }
}

.l-main__contact .inner h2 {
    font-size: 2.5rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__contact .inner h2 {
        text-align: center;
        font-size: 1.875rem
    }
}

.l-main__form {
    width: 100%;
    position: relative
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__form {
        padding: 0 1rem
    }
}

.l-main__form input {
    border: .0625rem solid var(--color-light-gray);
    height: 3.75rem;
    width: 100%;
    outline: none;
    margin-bottom: 1.875rem;
    padding: 0 .875rem;
    font-size: .875rem
}

.l-main__form textarea {
    border: .0625rem solid var(--color-light-gray);
    height: 9.375rem;
    width: 100%;
    outline: none;
    padding: .875rem;
    font-size: .875rem
}

.l-main__form button {
    background-color: var(--color-radiant);
    cursor: pointer;
    height: 2.5rem;
    transition: var(--transition-duration-default);
    width: 8.125rem;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    bottom: 1.875rem;
    right: 1.25rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__form button {
        position: initial;
        width: 100%;
        margin-top: 1.25rem
    }
}

.l-main__form button:hover {
    background-color: var(--color-pico-void);
    color: var(--color-white)
}

.l-main__form .input-grid {
    gap: 1.25rem;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__form .input-grid {
        flex-direction: column;
        gap: 0
    }
}

.l-main__call_to_contact {
    background-color: var(--color-pico-void);
    height: 10rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__call_to_contact {
        height: 100%
    }
}

.l-main__call_to_contact .inner {
    height: 100%;
    max-width: 70rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__call_to_contact .inner {
        flex-direction: column;
        padding: 2rem 1rem;
        display: flex
    }
}

.l-main__call_to_contact .inner h4 {
    color: var(--color-white);
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-size: 1.5625rem
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__call_to_contact .inner h4 {
        text-align: center;
        font-size: 1.125rem
    }
}

.l-main__call_to_contact .inner a {
    background-color: var(--color-light-gray);
    color: var(--color-pico-void);
    height: 3.75rem;
    transition: var(--transition-duration-default);
    width: 16.5625rem;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    display: flex
}

@media (min-width:280px) and (max-width:560px) {
    .l-main__call_to_contact .inner a {
        height: 2.5rem;
        width: 14.0625rem;
        margin: 2rem 0 1rem auto
    }
}

.l-main__call_to_contact .inner a:hover {
    background-color: var(--color-radiant)
}

.l-footer {
    background-color: #151c2f;
    padding: 3.125rem 0
}

.l-footer .inner {
    max-width: 70rem;
    grid-template-columns: 16.5625rem 16.5625rem 16.5625rem 16.5625rem;
    gap: 1.25rem;
    margin: 0 auto;
    display: grid
}

.l-footer .inner p {
    color: var(--color-white);
    margin-top: 1.125rem;
    margin-bottom: 0;
    font-size: 1.125rem
}

.l-footer .inner span {
    color: var(--color-light-gray);
    font-weight: 600
}

.l-footer .footer-social {
    grid-template-columns: 2.5rem 2.5rem 2.5rem;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: 0;
    display: grid
}

.l-footer .footer-social .footer-social-icon {
    background-color: var(--color-radiant);
    height: 2.5rem;
    transition: var(--transition-duration-default);
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex
}

.footer-social-icon>.icon {
    filter: invert(14%)sepia(5%)saturate(6344%)hue-rotate(187deg)brightness(87%)contrast(89%);
    height: 1.375rem;
    width: 1.375rem
}

.l-footer .footer-links {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    display: flex
}

.l-footer .footer-links h3 {
    color: var(--color-white);
    align-items: center;
    margin: 0 0 1.25rem;
    padding: 0;
    font-size: 1.25rem
}

.l-footer .footer-links ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-links ul li {
    margin-bottom: .625rem;
    font-size: .875rem
}

.footer-links li a {
    color: var(--color-white);
    margin-bottom: .625rem;
    text-decoration: none
}

.sr-only {
    height: .0625rem;
    width: .0625rem;
    position: absolute;
    top: auto;
    left: -6249.94rem;
    overflow: hidden
}

/*# sourceMappingURL=style.css.map */
